#
# Here is our sample css file.
#
# Enjoy.
#

body {
    font-size: 1em;
    font-family: 'Crafty Girls', Arial, sans-serif;
};

.chapter-index a {
    font-family: 'Crafty Girls', Arial, sans-serif;
};