{% extends "base.jinja" %}

{% block body %}
  {% for page in chapter.pages %}
    <div class="chapter-thumbnails chapter-thumbnails-{{ loop.cycle('even', 'odd' }}">
      <a href="//{{ chapter.slug }}/{{ file_base }}-{{ page.number }}.html">
        <img src="{{ thumbnail_base }}/{{ file_base }}-{{ page.number }}.png" />
      </a>
    </div>
  {% endfor %}
  <div class="main-content">
  {{ content_markdown }}
  </div>
{% endblock %}
