{% extends "base.jinja" %}

{% block body %}
  <div class="header"><a href="/"><img src="/static/images/header.png"/></a></div>
  <a href="{{ chapter.pages[0].html_uri }}">
    <img class="page-image" src="{{ chapter.cover_image_uri }}" />
  </a>
  {#
  {% for page in chapter.pages %}
    <div class="chapter-index chapter-index-{{ loop.cycle('even', 'odd') }}">
      <a href="/{{ chapter.slug }}/{{ file_base }}-{{ page.number }}.html">
        {{ page.title }}
      </a>
    </div>
  {% endfor %}
  #}
  <div class="main-content">
  {{ content_markdown }}
  </div>
  <div class="pager-footer">
    <a href="{{ chapter.pages[0].html_uri }}">{{ chapter.title }}</a>
  </div>
{% endblock %}
