{% extends "base.jinja" %}

{% block body %}
  <a href="/{{ chapters[0].slug }}/page-1.html">
    <img class="page-image" src="/static/images/Cover.png"/>
  </a>
  <div class="main-content">
  {{ content_markdown }}
  </div>
  <h2>Chapters</h2>
  <table class="chapter-links">
  {% for chapter in chapters %}
    <tr class="chapter-link">
      <td class="thumbnail">
        <a href="{{ chapter.html_uri }}">
          <img class="page-thumbnail" src="{{ chapter.cover_thumbnail_uri }}" />
        </a>
      </td>
      <td class="title">
        <a href="{{ chapter.html_uri }}">{{ chapter.number }}. {{ chapter.title }}</a>
      </td>
    </tr>
  {% endfor %}
  </table>
{% endblock %}
