{% extends "base.jinja" %}

{% block body %}
  <h1>Gyoko Shoujo</h1>
  <img src="/static/images/Cover.png"/>
  <div class="main-content">
  {{ content_markdown }}
  </div>
  <ul class="chapter-links">
  {% for chapter in chapters %}
    <li class="chapter-link">
      <a href="/{{ chapter.slug }}/index.html">{{ chapter.title }}</a>
    </li>
  {% endfor %}
  </ul>
{% endblock %}
