{% extends "base.jinja" %}

{% block body %}
  <div class="header"><a href="/"><img src="/static/images/header.png"/></a></div>
  {% if has_next %}<a href="{{ next_uri }}">{% endif %}
  <img class="page-image" src="{{ page.image_uri }}" />
  {% if has_next %}</a>{% endif %}
  <div class="main-content">
  {{ content_markdown }}
  </div>
  <div class="pager-footer">
    {% if has_previous %}<a href="{{ previous_uri }}"> ≪ </a>{% endif %}
    {{ page_number }} of {{ page_count }}
    {% if has_next %}<a href="{{ next_uri }}"> ≫ </a>{% endif %}
  </div>
{% endblock %}
