{% extends "base.jinja" %}

{% block body %}
  <img src="{{ page_image }}" />
  <div class="pager-links pager-links-previous">
    {% if has_previous %}<a href="{{ page_previous }}">Previous</a>{% endif %}
  </div>
  <div class="pager-links pager-links-next">
    {% if has_next %}<a href="{{ page_next }}">Next</a>{% endif %}
  </div>
  <div class="main-content">
  {{ content_markdown }}
  </div>
{% endblock %}
